<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.znsm.znsm.mapper.CfovMapper">

    <insert id="addcfov" parameterType="Cfov">
      insert into Cfov (xdmin,xdmax,ydmin,ydmax,angle1min,angle1max,angle2min,angle2max) values (#{xdmin},#{xdmax},#{ydmin},#{ydmax},#{angle1min},#{angle1max},#{angle2min},#{angle2max})
    </insert>

</mapper>
